// change the theme
$theme-colors: (
  "primary": #081c70
);

// Import Bootstrap and its default variables
@import "~bootstrap/scss/bootstrap.scss";

/* Remove focus styling for buttons */
.btn:focus {
  outline: none;
  box-shadow: none;
  border-color: transparent;
}
/* Remove focus styling for inputs */
.form-control:focus {
  outline: none;
  box-shadow: none;
}
