.logo_text {
  font-weight: 600;
}
.btn_search {
  background-color: #081c70;
}
.navbar_icons {
  font-size: 1.2rem;
}
.user_dropdown a::after {
  display: none !important;
  content: none !important;
}
